body {
  background-color: rgb(196, 189, 130);
}

table {
  width: 90%;
  border-collapse: collapse;
}

.App {
  text-align: center;
  color: rgb(0, 0, 0);
}

.SongForm {
  width: 100%;
  display: flex;
  background-color: darkcyan;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
}